<div class="row">
  <div class="col-md-6">
    {{input value=value key-up=(action 'handleFilterEntry') class="form-control" type="text" placeholder="Filter by Address"}}
 </div>
</div>
<p/>
{{yield results}}
