<div class="jumbotron">
  <h2>About Bayzat House Controller</h2>
  <p>
    This SPA application is a web client of Bayzat House Controlling System.
  </p>
  {{#link-to 'contact' class="button"}}
    Contact Us
  {{/link-to}}
</div>
