<div class="jumbotron">
  <h2>Contact Us</h2>
  <p>
    Bayzat HQ
    <address>
      The Iridium Building, Umm Suqeim Road
      P.O. Box 391186 Dubai, UAE
      T: +971 4 387 3460
      M: +971 50 755 4100
    </address>
    <a href="tel:">+971 4 387 3460</a><br>
    <a href="mailto:sales@bayzat.com">sales@bayzat.com</a>
  </p>
</div>
