<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Welcome!</h3>
  </div>
  <div class="panel-body">
    Control your house.
    {{#link-to 'about' class="button"}}
      <p>How can I control my house?</p>
    {{/link-to}}
  </div>
</div>
{{outlet}}
